@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}



/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
} */
.bakcroundimg{
  background-image: url(./Components/foto/Fon.svg);
  /* background-repeat: no-r; */
  height: auto ;
}
.nav{
  background-color: #D9D9D9;
  /* border-radius: 30px; */
  margin-left: -10px;
  align-items: center;
  font-size: 8px;
  justify-content: space-between;
  display: flex;
}
.korzinka{
  background-image: url(./Components/img/koriznka.svg);
}
.bell{
  background-image: url(./Components/img/bell_svgrepo.com.svg);
  margin-left: 17px;
}

.bakcroundimg{
  padding-top: 30px;
}